<footer class="footer">
  <ul class="footer__links">
    <li><a href="">Instagram</a></li>
    <li><a href="">LinkedIn</a></li>
    <li><a href="">Email</a></li>
  </ul>

  <p>Last updated on <time datetime="{{ build.timestamp | formatISO }}">{{ build.timestamp | format("dd LLL yyyy") }}</time></p>
</footer>
