<header class="header">
  <h1 class="header__name">
    <a href="/" class="header__home-link">Brenda Sjahrial</a>
  </h1>

  {# <nav class="nav header__nav">
    <a href="/about" class="nav__link">About</a>
  </nav> #}
</header>
