---
layout: default
title: About
---

<h2>About</h2>

{% markdown %}
Hello, I’m Brenda,
a strategist currently at Nice and Serious. 

I grew up in Jakarta and Singapore where I never learned to ride the bike. While it feels too late to learn that now, I've picked up other skills such as:

Brand strategy – leading workshops through to proposition and visual development.

Campaigns – inspiring creative briefs and campaign planning.

You can reach me at:
Instagram  /  LinkedIn /  Email

And occasionally, you can find me sipping cocktails in care homes.
{% endmarkdown %}
