---
layout: default
---

<div class="intro">
  {% markdown %}
    {%- include 'about.md' -%}
  {% endmarkdown %}
</div>

<h4>Previous work</h4>

<ul class="work">
  {%- for post in collections.work -%}
  <li class="work__item">
    <a href="{{ post.url }}" class="work__link">
      <span class="work__link-title">{{ post.data.title }}</span><span class="work__link-divider">. </span>
      <span class="work__link-tagline">{{ post.data.tagline }}.</span>
    </a>
  </li>
  {%- endfor -%}
</ul>
