---
layout: default
bodyClass: entry
---

<div class="entry__container">
  <header class="entry__header">
    <h3>{{ title }}</h3>
    <p>{{ type }}</p>
  </header>

  <div class="entry__main">
    {{ content | safe }}
  </div>
</div>
